*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head {
    background-image: url("./images/bg.jpg");
    background-position: center ;
    background-size: cover;
    height: 60vh;
    width: 100%;
    
}
.homee{
    background-color: rgba(240, 255, 255, 0.9);
    height: 100%;
    width: 100%;
}
.nav-brand{
    height: 50px;
}
ul li {
    list-style-type: none;
    display: inline-block;
    letter-spacing: 2px;
    margin: 0 8px;
    cursor: pointer;
}
.event img{
    width: 100%;
}
.event{
    position: relative;
    margin-bottom: 30px;
}
.event h3 {
    position: absolute;
    top: 90%;
    text-align: center;
    width: 90%;
    border-radius: 0px 0px 10px 10px;
}
.Loginlogo{
    margin-left: 40%;
    margin-top: 2%;
    height: 70px;
}
.glogin{
    height: 250px;
    width: 400px;
    border: 2px solid lightgray;
    margin-left: 35%; 
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.glogin img{
    width: 30px;
}
.register{
    height: 400px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 35%;
    border: 2px solid lightgray;
    padding: 0 20px;
    margin-top: 2%;
}